.App {
  text-align: center;
}
.App-header {
  background-color: white;
  min-height: 3rem;
  font-size: 1rem;
  color: white;
}
.App-header-item {
  display: inline-block;
  padding: 0.5rem 0.5rem;
}

.App-link {
  color: #61dafb;
}
